{% extends 'base.html' %}

{% block content %}
<div class="block-header">
    <h2>User <small>{{ object.first_name }}&nbsp;{{ object.last_name}}</small></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h2>Password
                <small>(*) Required fields.</small>
            </h2>
        </div>
        <div class="card-body card-padding">
            <form id="user-form" method="POST" autocomplete="off">
                <input type="hidden" name="crumb" value="{{crumb}}"/>

                <div class="form-group {{ 'has-error' if (field_errors.current_password) or (field_errors.invalid) else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Current password*</label>
                        <input type="password" class="form-control input-sm" name="current_password" value="{{ field_errors.current_password.value if field_errors.current_password else '' }}">
                    </div>
                    {% if field_errors.current_password %}
                    <small class="help-block">{{ field_errors.current_password.message }}</small>
                    {% endif %}
                    {% if field_errors.invalid %}
                    <small class="help-block">{{ field_errors.invalid.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.new_password else '' }}">
                    <div class="fg-line">
                        <label class="control-label">New password*</label>
                        <input type="password" class="form-control input-sm" name="new_password" value="{{ field_errors.new_password.value if field_errors.new_password else '' }}">
                    </div>
                    {% if field_errors.new_password %}
                    <small class="help-block">{{ field_errors.new_password.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.confirm_new_password else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Confirm new password*</label>
                        <input type="password" class="form-control input-sm" name="confirm_new_password" value="{{ field_errors.confirm_new_password.value if field_errors.confirm_new_password else '' }}">
                    </div>
                    {% if field_errors.confirm_new_password %}
                    <small class="help-block">{{ field_errors.confirm_new_password.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">GUARDAR</button>
                    <a href="/admin/user" class="btn btn-default">CANCELAR</a>
                </div>
            </form>
        </div>
    </div>    
  </div>
</div>

    
{% endblock %}