<header id="header" class="clearfix" data-ma-theme="blue">
    <ul class="h-inner">
        <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="hi-logo hidden-xs">
            <a href="/admin">Mapa 33</a>
        </li>

        <li class="pull-right">
            <ul class="hi-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li>
                            <a href="#"><i class="zmdi zmdi-lock"></i> Cambiar Contraseña</a>
                        </li>
                        <li>
                            <a href="/admin/logout"><i class="zmdi zmdi-power"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</header>