<p>
    {{ paginator.first_result + 1 }} - {{ paginator.last_result + 1 }} de {{ paginator.total_results }} registros
</p>
<ul class="pagination">
<!-- Previous Page Link -->
{% if paginator.current_page == 1 %}
    <li class="page-item disabled" aria-disabled="true">
        <span class="page-link" aria-hidden="true"><i class="zmdi zmdi-chevron-left"></i></span>
    </li>
{% else %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.url_path }}?page={{ paginator.previous_page }}{{ '&' if paginator.url_query_params else '' }}{{ paginator.url_query_params }}" rel="prev"><i class="zmdi zmdi-chevron-left"></i></a>
    </li>
{% endif %}

<!-- Pagination Elements -->
{% for page_number in range(1, paginator.total_pages + 1) %}
    {% if paginator.current_page == page_number %}
    <li class="page-item disabled" aria-disabled="true">
        <span class="page-link" aria-hidden="true">{{ page_number }}</span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.url_path }}?page={{ page_number }}{{ '&' if paginator.url_query_params else '' }}{{ paginator.url_query_params }}">{{ page_number }}</a>
    </li>
    {% endif %}
{% endfor %}


<!-- Next Page Link -->
{% if paginator.has_next_page %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.url_path }}?page={{ paginator.next_page }}{{ '&' if paginator.url_query_params else '' }}{{ paginator.url_query_params }}" rel="next"><i class="zmdi zmdi-chevron-right"></i></a>
    </li>
{% else %}
    <li class="page-item disabled" aria-disabled="true">
        <span class="page-link" aria-hidden="true"><i class="zmdi zmdi-chevron-right"></i></span>
    </li>
{% endif %}
</ul>