<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" data-ma-action="profile-menu-toggle">
            <div class="sp-pic"></div>

            <div class="sp-info">
                {{ user.first_name}}&nbsp;{{user.last_name}}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="/admin/account/change-password"><i class="zmdi zmdi-lock"></i> Cambiar Contraseña</a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-power"></i> Salir</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li><a href="/admin/land"><i class="zmdi zmdi-layers"></i> Terrenos</a></li>
        <li><a href="/admin/memory"><i class="zmdi zmdi-cloud"></i> Memorias</a></li>
        <li><a href="/admin/user"><i class="zmdi zmdi-accounts"></i> Usuarios</a></li>
    </ul>
</aside>
