<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" data-ma-action="profile-menu-toggle">
            <div class="sp-pic">
                <img src="/assets/admin/img/profile-pics/2.jpg" alt="">
            </div>

            <div class="sp-info">
                {{ user.first_name}}&nbsp;{{user.last_name}}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="/admin/account/change-password"><i class="zmdi zmdi-lock"></i> Change Password</a>
            </li>
            <li>
                <a href="#"><i class="zmdi zmdi-power"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li><a href="/admin"><i class="zmdi zmdi-view-dashboard"></i> Dashboard</a></li>
        <li><a href="/admin/land"><i class="zmdi zmdi-layers"></i> Lands</a></li>
        <li><a href="#"><i class="zmdi zmdi-assignment"></i> Surveys</a></li>
        <li><a href="/admin/user"><i class="zmdi zmdi-accounts"></i> Users</a></li>
    </ul>
</aside>