{% extends 'base.html' %}

{% block content %}
<div class="mini-charts">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-lightblue">
                <div class="clearfix">
                    <div class="chart">
                      <div style="color:#fff;width: 68px;text-align:center;">
                        <i class="zmdi zmdi-layers zmdi-hc-3x"></i>
                      </div>
                    </div>
                    <div class="count">
                        <small>NEW LANDS</small>
                        <h2>10</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    <div class="chart">
                      <div style="color:#fff;width: 68px;text-align:center;">
                        <i class="zmdi zmdi-layers zmdi-hc-3x"></i>
                      </div>
                    </div>
                    <div class="count">
                        <small>APPROVED LANDS</small>
                        <h2>10</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-red">
                <div class="clearfix">
                    <div class="chart">
                      <div style="color:#fff;width: 68px;text-align:center;">
                        <i class="zmdi zmdi-layers zmdi-hc-3x"></i>
                      </div>
                    </div>
                    <div class="count">
                        <small>DENIED LANDS</small>
                        <h2>2</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-purple">
                <div class="clearfix">
                    <div class="chart">
                      <div style="color:#fff;width: 68px;text-align:center;">
                        <i class="zmdi zmdi-layers zmdi-hc-3x"></i>
                      </div>
                    </div>
                    <div class="count">
                        <small>TOTAL LANDS</small>
                        <h2>22</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h2>Recent Lands</h2>
            </div>
            <div class="card-body">
                <table class="table table-inner table-vmiddle">
                    <thead>
                        <tr>
                            <th style="width:140px;">Image</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#"><img src="https://dummyimage.com/100x70/cccccc/000000"/></a></td>
                            <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                            <td><span class="label label-info text-uppercase">new</span></td>
                        </tr>
                        <tr>
                            <td><a href="#"><img src="https://dummyimage.com/100x70/cccccc/000000"/></a></td>
                            <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                            <td><span class="label label-info text-uppercase">new</span></td>
                        </tr>
                        <tr>
                            <td><a href="#"><img src="https://dummyimage.com/100x70/cccccc/000000"/></a></td>
                            <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                            <td><span class="label label-info text-uppercase">new</span></td>
                        </tr>
                        <tr>
                            <td><a href="#"><img src="https://dummyimage.com/100x70/cccccc/000000"/></a></td>
                            <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                            <td><span class="label label-info text-uppercase">new</span></td>
                        </tr>
                        <tr>
                            <td><a href="#"><img src="https://dummyimage.com/100x70/cccccc/000000"/></a></td>
                            <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                            <td><span class="label label-info text-uppercase">new</span></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="view-more">VIEW ALL</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h2>Recent Users</h2>
            </div>

            <div class="card-body">
                <div class="list-group">
                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img" src="/assets/admin/img/profile-pics/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">David Belle</div>
                            <small class="lgi-text">Joined 17 May, 2019</small>
                            <div class="rating-list p-b-0">
                                <div class="rl-star">
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img" src="/assets/admin/img/profile-pics/2.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Jonathan Morris</div>
                            <small class="lgi-text">Joined 17 May, 2019</small>
                            <div class="rating-list p-b-0">
                                <div class="rl-star">
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img" src="/assets/admin/img/profile-pics/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Fredric Mitchell Jr.</div>
                            <small class="lgi-text">Joined 17 May, 2019</small>
                            <div class="rating-list p-b-0">
                                <div class="rl-star">
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img" src="/assets/admin/img/profile-pics/2.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Glenn Jecobs</div>
                            <small class="lgi-text">Joined 17 May, 2019</small>
                            <div class="rating-list p-b-0">
                                <div class="rl-star">
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img" src="/assets/admin/img/profile-pics/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Bill Phillips</div>
                            <small class="lgi-text">Joined 17 May, 2019</small>
                            <div class="rating-list p-b-0">
                                <div class="rl-star">
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star active"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                    <i class="f-16 zmdi zmdi-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="view-more" href="">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}