@font-face {
  font-family: 'mapa33';
  src: url('../font/mapa33.eot?5844856');
  src: url('../font/mapa33.eot?5844856#iefix') format('embedded-opentype'),
       url('../font/mapa33.woff2?5844856') format('woff2'),
       url('../font/mapa33.woff?5844856') format('woff'),
       url('../font/mapa33.ttf?5844856') format('truetype'),
       url('../font/mapa33.svg?5844856#mapa33') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mapa33';
    src: url('../font/mapa33.svg?5844856#mapa33') format('svg');
  }
}
*/
 
 [class^="m33-icon"]:before, [class*=" m33-icon"]:before {
  font-family: "mapa33";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.m33-icon-plus:before { content: '\e800'; } /* '' */
.m33-icon-less:before { content: '\e801'; } /* '' */
.m33-icon-menu:before { content: '\e802'; } /* '' */
.m33-icon-user:before { content: '\e803'; } /* '' */
.m33-icon-eye:before { content: '\e804'; } /* '' */
.m33-icon-layers:before { content: '\e806'; } /* '' */
.m33-icon-arrow-left:before { content: '\e807'; } /* '' */
.m33-icon-arrow-right:before { content: '\e808'; } /* '' */
.m33-icon-arrow-left-2:before { content: '\e809'; } /* '' */
.m33-icon-arrow-right-2:before { content: '\e80a'; } /* '' */
.m33-icon-close:before { content: '\e80b'; } /* '' */