@media (max-width: 576px) {
  .profiletitle{
    margin-top: 50px;
  }
  .rightblockprofile{
    float: right;
    text-align: right;
  }
  .leftblockprofile{
    float: left;
  }
  .toptableprofile{
      border-bottom: 1px dotted #fff;
  }
  .lefttableprofile{
      border-right: 1px dotted #fff;
      
  }
  .toptableprofile h2 span,
  .lefttableprofile h2 span,
  .righttableprofile h2 span{
      display: inline;
  }
}
@media (min-width: 576px) {
  #propcol1{
    padding: 20px;
    padding-bottom: 0px;
  }
  #propcol2{
    padding: 20px;
    padding-top: 0px;
  }
  .profiletitle{
    margin-top: 50px;
  }
  .rightblockprofile{
    float: right;
    text-align: right;
  }
  .leftblockprofile{
    float: left;
  }
  .toptableprofile h2 span,
  .lefttableprofile h2 span,
  .righttableprofile h2 span{
      display: inline;
  }
  .profileContent{
    margin-top: 5px;
  }
  .toptableprofile{
      border-bottom: 1px dotted #fff;
  }
  .lefttableprofile{
      border-right: 1px dotted #fff;
  }
  
}

@media (min-width: 768px) {
  #propcol1{
    padding: 20px;
  }
  #propcol2{
    padding: 20px;
  }
  .profiletitle{
    margin-top: 50px;  
  }
  .rightblockprofile{
    float: right;
    text-align: right;
    margin-top: 50px;
  }
  .leftblockprofile{
    float: left;    
  }
  .profileContent{
    margin-top: 5px;
  }
  .toptableprofile{
      border-bottom: 1px dotted #fff;
      border-right: 1px dotted #fff; 
  }
  .lefttableprofile{
      border: none;
      border-bottom: 1px dotted #fff;      
  }
  .righttableprofile{
      border-right: 1px dotted #fff;
  }
  .toptableprofile h2 span,
  .lefttableprofile h2 span,
  .righttableprofile h2 span{
      display: block;
  }
}

@media (min-width: 992px) {
  #propcol1{
    padding: 20px;
  }
  #propcol2{
    padding: 20px;
  }
  .borderprofiledotted{
      padding-bottom: 25px;
  }
  .rightblockprofile{
    float: right;
    text-align: right;
    margin-top: 50px;
  }
  .leftblockprofile{
    float: left;
  }
  .profileContent{
    margin-top: 15px;
  }
  .toptableprofile{
      border-bottom: 1px dotted #fff;
      border-right: 1px dotted #fff; 
  }
  .lefttableprofile{
      border:none;
      border-bottom: 1px dotted #fff;      
  }
  .righttableprofile{
      border-right: 1px dotted #fff;
  }
  .toptableprofile h2 span,
  .lefttableprofile h2 span,
  .righttableprofile h2 span{
      display: block;
  }
}

@media (min-width: 1200px) {
  #propcol1{
    padding: 20px;
  }
  #propcol2{
    padding: 20px;
  }
  .rightblockprofile{
    float: right;
    text-align: right;    
    margin-top: 50px;
  }
  .leftblockprofile{
    float: left;
  }
  /*button[data-test-id="button-skip"]{
    position: absolute !important;
    top: -185% !important;
    left: 288% !important;
    background-color: red !important;
  }*/
  .profileContent{
    margin-top: 15px;
  }
  .toptableprofile{
      border-bottom: 1px dotted #fff;
      border-right: 1px dotted #fff; 
  }
  .lefttableprofile{
      border: none;
      border-bottom: 1px dotted #fff;
  }
  .righttableprofile{
      border-right: 1px dotted #fff;
  }
  .toptableprofile h2 span,
  .lefttableprofile h2 span,
  .righttableprofile h2 span{
      display: block;
  }
}

.ant-popover > .ant-popover-content > .ant-popover-arrow{
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.ant-popover > .ant-popover-content > .ant-popover-inner{
  background-color: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.popeditblack .ant-row .ant-radio-wrapper{
  background-color: #353433 !important;
  padding: 8px 16px !important;
  border-radius: 20px !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  margin-top: 10px;
}
.popeditblack .ant-row .ant-radio-wrapper .ant-radio {
  vertical-align: middle;
}
.popeditblack .ant-row .ant-radio-wrapper .ant-radio + * {
  display: inline-block;
  width: 110px;
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
  vertical-align: middle;
}

.popeditblack .ant-row .ant-radio-wrapper.ant-radio-wrapper-checked{
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
  text-align: center !important;
}

.popeditblack .ant-radio-inner{
  border-color: transparent !important;
  width: 13px !important;
  height: 13px !important;
  padding-left: 5px;
  padding-right: 5px;
}
.popeditblack .ant-radio:not(.ant-radio-checked) .ant-radio-inner{
  background-color: #cecccd !important;
  width: 13px !important;
  height: 13px !important;
  top: 0px !important;
}

.popeditblack .ant-radio-checked .ant-radio-inner{
  background-color: #2d83c6 !important;
  width: 13px !important;
  height: 13px !important;
  top: 0px !important;
}


.inputprop{
  border: 2px black solid !important;
  border-radius: 20px !important;
  margin-bottom: 15px !important;
  color: black !important;
}
.inputprop::placeholder{
  color: black !important;
  font-weight: bold;
}
.ant-input.inputprop:hover,
.ant-input.inputprop:focus { 
  border-right-width: 2px !important;
}
.btnprimary{
  background-color: #f576a9 !important;
  color: Black !important;
  border-radius: 15px !important;
  height: 50px !important;
  font-weight: bolder !important;
  width: 100% !important;
}
.radioprop{
  height: 90px !important;
  width: 120px !important;
  border-color: black !important;
  color: black !important;
}
.radiosi{
  border-radius: 50px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.radiono{
  border-radius: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.radiono.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: #000;
}
.ant-modal{
  max-width: 1140px !important;
}
.inputCalendar{
  line-height: 90px !important;
}
.inputCalendar input{
  background-color: transparent !important;
  color: black !important;
  font-size: 20px;
}
.form1.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background: #008ac9 !important;
  border-color: #008ac9 !important;
  box-shadow: none;
}
.form1.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.form1.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus {
  box-shadow: none;
}
.form2.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background: #4fbdb0 !important;
  border-color: #4fbdb0 !important;
  box-shadow: none;
}
.form2.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.form2.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus {
  box-shadow: none;
}
.form3.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background: #f576a9 !important;
  border-color: #f576a9 !important;
  box-shadow: none;
}
.form3.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.form3.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus {
  box-shadow: none;
}
.radiono span:nth-child(2n),
.radiosi span:nth-child(2n)
{
  line-height: 90px !important;
  font-size: 20px !important;
  font-weight: bolder !important;
}
.spacecalendar{
  height: 90px !important;
}

.ant-checkbox-wrapper-checked span input::selection{
  background: #008ac9 !important;
}
.radiobutton{
  width: 100% !important;
  font-weight: bolder !important;
  text-align: center !important;
}
.buttonok{
  height: 48px !important;
  font-weight: bolder !important;
  font-size: 18px !important;
}
.inputprop.ant-checkbox-wrapper span:nth-child(2n+1){
  display: none;
}
.inputprop.ant-checkbox-wrapper{
  height: 40px !important;
  line-height: 40px !important
}
.inputprop.ant-checkbox-wrapper-checked{
  background-color: #008ac9 !important;
  border-color: #008ac9 !important;
}

.radiosi .ant-radio-button-wrapper:not(:first-child)::before {
  background-color: transparent !important;
}
.blockstyleradio{
  white-space: pre-wrap !important;
  display: block;
}

.abcradio{
  width: 75px !important;
  height: 50px !important;
}
.abcradio span:nth-child(2n){
  line-height: 50px !important;
}
.abcradio:not(:first-child)::before{
  width: 0px !important;
  content: none !important;
}

.blockstyleradio span span{
  border-color: black !important;
  border-width: 2px !important;
  height: 36px !important;
  width: 48px !important;
  border-radius: 25px !important;
}
.blockstyleradio span .ant-radio-inner::after{
  top: 2px !important;
  left: 2px !important;
  width: 40px !important;
  height: 28px !important;
  background-color: #008ac9 !important;
  border-radius: 19px !important;
}
.mensajerror{
  color: red;
  font-weight: bold;
}
.react-joyride__tooltip{
  width: 210px !important;
  padding: 10px !important;
  padding-bottom: 0px;
}
.react-joyride__tooltip div div{
  padding: 0px !important;
}
.react-joyride__tooltip div:nth-child(2) {
  padding: 0px !important;
  margin-top: 0px !important;
}
button[data-test-id="button-close"]{
  display: none;
}
button[data-test-id="button-primary"]{
  background-color: white !important;
  color: #4b95ce !important;
  padding: 4px !important;
  font-weight: lighter !important;
  font-size: 14px !important;
}

.ant-btn-background-blackstep{
  background-color: black !important;
  color: white !important;
  border-radius: 15px !important;
  border: 1px white solid !important;
}
.overlay{
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
}
.overlaymenu{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  right: 0;
  bottom: 0;
  background-color:#f073a8; /* Black background with opacity */
  z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
  display: inline-flex;
  width: 220px;
}
.buttonmenu{
   display: inline-flex;
   left: -125px;
   position: absolute;
   margin-top: 60px;
}
.ant-btn-simplebtn{
    color: white !important;    
    font-size: 20px !important;
    text-align: left !important;
    background-color: #f073a8!important;
    border:none !important;
    font-weight: 100 !important;
    font-family: "Calibri", arial;
    margin-bottom: 8px;
    padding-left: 0px !important;
}
.ant-btn-simple:focus {
  outline: none;
}
.ant-btn-simplebtn2{
    color: white !important;    
    font-size: 16px !important;
    text-align: left !important;
    background-color: #f073a8!important;
    border:none !important;
    font-weight: 100 !important;
    font-family: "Calibri", arial;
    margin-bottom: 8px;
    padding-left: 0px !important;
}
.menublock{
    text-align: left !important;
    margin-top: 60px;
    margin-left: 35px !important;
}
.menubottom{
    position: absolute;
    bottom: 40px;
    margin-left: 35px;
}
.tourup{
  position: fixed !important;
  top: 0 !important;
  z-index: 999 !important;
  margin: 10px !important;
}
.footer{
  z-index: 9 !important;
}
.stepguideborder .m33-btn-bordered{
  border: 2px solid #f073a8 !important;
}
.stepguide{
  height: 56px !important;
  width: 80px !important;
  border-radius: 50px !important;
}
.inputprop .ant-calendar-picker-input,
.inputprop .ant-select-selection
{
    border-radius: 20px !important;
    border: none !important;
}
.inputprop .ant-calendar-picker-input::placeholder,
.inputprop .ant-select-selection div div{
    color: black;    
    font-weight: bold;
    opacity: 1 !important;
}
.inputprop .ant-calendar-picker-input:-ms-input-placeholder{ 
    color: black;
    font-weight: bold;
    opacity: 1 !important;
}
.checkboxregisuni a{
    color:#000000;
    text-decoration: underline;
}
.checkboxregisuni{
    color:#000000;
    padding-left: 40px !important;
    display: block !important;
    margin-top: -22px !important;
    margin-bottom: -5px !important;
    font-weight: 500 !important;
    font-family: "Whyte", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
}
.profileContent h3{
    color: white;
    font-size: 18px;
}
.profileContent p{
    color: #7e7e7e;
    font-size: 11px;
    font-weight: bold;
}
.blockprofilecheckbox .form-check .ant-checkbox-wrapper .ant-checkbox-inner{
    background-color: #000000 !important;
    border-color: #fff !important;

}
.blockprofilecheckbox .form-check .ant-checkbox-checked .ant-checkbox-inner{
    background-color: #000000 !important;
    border-color: #fff !important;
}
.blockprofilecheckbox .form-check .ant-checkbox-checked::after{
    border: 1px solid #fff !important;
}
.blockprofilecheckbox .form-check .ant-checkbox-checked .ant-checkbox-inner::after{
    border-color: #f576a9 !important;
}
.ant-btn-grey{
    background-color: #cccccc !important;
    color:  #696969 !important;
    font-weight: 500 !important;
    margin-right: 10px !important;
}

.ant-btn.ant-btn-grey:hover,
.ant-btn.ant-btn-grey:focus {
  background-color: #BBBBBB !important;
  border-color: #BBBBBB !important;
  color: #999999 !important;
}
.blackstyleinput{
    border-color: #ffffff !important;
    background-color: #000000 !important;
    color: #ffffff !important;
}
.blackstyleinput::placeholder,
.blackstyleinput:-ms-input-placeholder,
.blackstyleinput::-ms-input-placeholder{
    color: #ffffff !important;
}
input[name="username"].blackstyleinput{
    width: 100%;
    height: 55px;
    font-weight: 500;
    font-size: 2em;
    border-radius: 50px !important;
}

.blackstyleinput .ant-select-selection,
.blackstyleinput input{
    background: transparent !important;
    color: white !important;
}
.blackstyleinput .ant-select-selection div div {
    color: white !important;
    font-weight: 500 !important;
}
.blackstyleinput i {
    color: #dc6396 !important;
}
.rightblockprofile div{
    display: inline-flex !important;
}