<html>
    <head>
        <title>Create Land</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Creaste un land:</h2>
        <h3>¡Gracias por llenar el formulario para el Mapa-33!”</h3>

        <p>
        ¡Hola!
        <br/>
        ¡Gracias por formar parte del Mapa-33!
        Tu propuesta está siendo revisada. Pronto nos comunicaremos para darle seguimiento a tu iniciativa.
        Mientras tanto, riega la voz sobre el Mapa-33. Mientras más personas propongan terrenos y muestren apoyo a propuestas como la tuya, más rápido lograremos nuestra meta común de un 33% para el 2033.
        <br/>
        Si tienes alguna pregunta o duda, comunícate con nosotros <a href='{{contact}}'>aquí</a>.
        <br/>
        ¡Gracias por unirte a la meta común!
        </p>
    </body>
</html>
