<html>
    <head>
        <title>Follow Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Follow-Up:</h2>

        <h3>¡Celebramos tus logros!</h3>

        <p>¡Hola, (nombre de la persona)!
            <br/>
            Primero, gracias por formar parte del Mapa 33. 
            <br/>
            Segundo, hemos notado que la Tarjeta de la <a href="">Propuesta</a> ha recibido mucho apoyo y queríamos compartir nuestra emoción 🙌. 
            <br/>
            ¡Gracias por participar de la meta común!
        </p>
    </body>
</html>
