<html>
    <head>
        <title>Land Approved</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Tu land fue aprobado:</h2>
        <p>
            ¡Hola!
            <br/>
            Tu propuesta para Mapa-33 ha sido aceptada.
            <br/>
            El próximo paso es regar la voz. Mediante los enlaces presentes en la <a href='{{site}}'>Tarjeta</a> podrás compartir tu propuesta a través de las redes sociales (Facebook, Twitter, Instagram).
            Si necesitas ayuda o tienes preguntas, comunícate con nosotros <a href='{{contact}}'>aquí</a>.
            <br/>
            ¡Gracias por participar de la meta común!
            <br/>
        </p>
    </body>
</html>
