<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Recuperar contraseña:</h2>
        <p>¡Hola!
            <br/>
            Para recuperar tu contraseña deberás oprimir el siguiente enlace:  <a type="button" href='{{site}}{{token}}'>aquí</a>
            <br/>
            Si oprimir el enlace no funciona, copia la dirección en la barra de dirección. {{site}}{{token}}
            <br/>
            Para asistencia adicional, puedes comunicarte con nosotros <a href='{{contact}}'>aquí</a>.
            <br/>
            Agradecemos tu participación en Mapa-33. 33 para el ‘33 es la meta común. ¡Únete!
        </p>
    </body>
</html>
