{% extends 'base.html' %}

{% block content %}
<div class="block-header">
    <h2>Memorias</h2>
</div>

<div class="card">
    <div class="card-header">
        <div class="form-inline text-right">
            <label>Estado</label>
            <div class="dropdown form-group m-l-5 m-r-5">
                <a href="#" class="dropdown-toggle btn btn-default waves-effect" data-toggle="dropdown" aria-expanded="false">{{ filters.status if filters.status else 'All' |capitalize }} <i class="zmdi zmdi-caret-down"></i></a>
                <ul class="dropdown-menu pull-left">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/admin/land?level={{ filters.level }}&status=">All</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/admin/land?level={{ filters.level }}&status=new">New</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/admin/land?level={{ filters.level }}&status=approved">Approved</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/admin/land?level={{ filters.level }}&status=denied">Denied</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-vmiddle">
            <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Terreno</th>
                <th>Propietario</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in paginator.docs %}
            <tr>
                <td>
                    <a href="/admin/land/{{ item.id }}">{{ item.title }}</a>
                </td>
                <td>{{ item.description }}</td>
                <td>
                    {{ item.land.name }}
                </td>
                <td>
                    {{ item.user.full_name }}
                </td>
                <td>
                  {% if item.status == 'NEW' %}
                    <span class="label label-warning text-uppercase">{{ item.status }}</span>
                  {% elif item.status == 'REJECTED' %}
                    <span class="label label-danger text-uppercase">{{ item.status }}</span>
                  {% elif item.status == 'APPROVED' %}
                    <span class="label label-success text-uppercase">{{ item.status }}</span>
                  {% else %}
                    <span class="label label-default text-uppercase">{{ item.status }}</span>
                  {% endif %}
                </td>
                <td style="white-space: nowrap; width: 1%;">
                  <a href="/admin/memory/{{ item.id }}" class="btn btn-default btn-icon waves-effect waves-circle"><span class="zmdi zmdi-edit"></span></a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="9"><p class="text-center">No se encontraron terrenos.</p></td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <ul class="pagination">
            <li {% if not paginator.has_previous_page %}class="disabled"{% endif %}>
              <a href="{% if not paginator.has_previous_page %}#{% else %}/admin/land?page={{ paginator.previous_page }}{% endif %}&status={{filters.status}}&level={{filters.level}}" aria-label="Previous"><i class="zmdi zmdi-chevron-left"></i></a>
            </li>
            <li {% if not paginator.has_next_page %}class="disabled"{% endif %}>
              <a href="{% if not paginator.has_next_page %}#{% else %}/admin/land?page={{ paginator.next_page }}{% endif %}&status={{filters.status}}&level={{filters.level}}" aria-label="Next"><i class="zmdi zmdi-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<form id="delete-form" method="POST">
  <input type="hidden" name="crumb" value="{{crumb}}"/>
</form>

<a href="/admin/land/-1" class="btn btn-float btn-primary m-btn waves-effect waves-circle waves-float" data-toggle="tooltip" data-original-title="Add Land"><i class="zmdi zmdi-plus"></i></a>

{% endblock %}

{% block js_footer %}
<script type="text/javascript">
  $(document).ready(function () {

    var delete_form = $('#delete-form');

    $('.remove-link').click(function (event) {
      event.preventDefault();
      var self = $(this);
      swal({
        title: "¿Estas seguro?",
        text: "No podrás recuperar este recurso!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sí, eliminar!",
        cancelButtonText: "No, cancelar!",
        closeOnConfirm: true,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          var href = self.attr('href');
          delete_form.attr('action', href);
          delete_form.submit();
        }
      });
    });

  });
</script>
{% endblock %}