{% extends 'base.html' %}

{% block content %}
<div class="block-header">
    <h2>Terrenos<small>{{ object.name }}</small></h2>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h2>Detalles
                <small>(*) Datos requeridos.</small>
            </h2>
        </div>
        <div class="card-body card-padding">
            <form id="user-form" method="POST" autocomplete="off">
                <input type="hidden" name="crumb" value="{{crumb}}"/>

                <div class="form-group {{ 'has-error' if field_errors.name else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Nombre*</label>
                        <input type="text" class="form-control input-sm" name="name" value="{{ field_errors.name.value if field_errors.name else object.name }}">
                    </div>
                    {% if field_errors.name %}
                    <small class="help-block">{{ field_errors.name.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.level else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Nivel*</label>
                        <div class="select">
                            <select name="level" class="form-control">
                                <option value="">--------</option>
                                <option {% if object.level == 'basic' %}selected{% endif %} value="basic">Basic</option>
                                <option {% if object.level == 'pledge' %}selected{% endif %} value="pledge">Pledge</option>
                                <option {% if object.level == 'conserved' %}selected{% endif %} value="conserved">Conserved</option>
                            </select>
                        </div>
                    </div>
                    {% if field_errors.level %}
                    <small class="help-block">{{ field_errors.level.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Foto</label>
                        <input type="file" id="input-file-now" class="form-control input-sm" name="photograph"/>
                    </div>                    
                </div>
                
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Atributos Principales</label>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="nature" style="opacity: 1;">
                              Naturaleza
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input  type="checkbox" value="educational" style="opacity: 1;"> Educativos
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input  type="checkbox" value="landscape" style="opacity: 1;"> Paisajistas y escénicos
                            </label>
                        </div>
                            <label class="control-label">Otro</label>
                            <input type="text" class="form-control input-sm" name="others_main">                        
                    </div>                    
                </div>
                
                
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Situación Actual</label>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="residential" style="opacity: 1;">
                              Residencial
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input  type="checkbox" value="commercial" style="opacity: 1;"> 
                              Comercial
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input  type="checkbox" value="nature_forest" style="opacity: 1;">
                              Natural / Bosque
                            </label>
                        </div>
                            <label class="control-label">Otro</label>
                            <input type="text" class="form-control input-sm" name="others_main">                        

                    </div>                    
                </div>
                
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Número de parcelas</label>
                        <input type="number" class="form-control input-sm" name="plots_count">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Tamaño del área</label>
                        <input type="number" step="0.01" class="form-control input-sm" name="area_size">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Tipo de área</label>
                        <div class="select">
                            <select name="are_type" class="form-control ">
                                <option value="">--------</option>
                                <option value="Marina">Marina</option>
                                <option value="Terrestre">Terrestre</option>
                            </select>
                        </div>
                    </div>                    
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.use_type else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Tipo de Uso</label>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type" style="opacity: 1;" id="option1" value="scientist_research">
                              Investigación Científica
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type" style="opacity: 1;" id="option2" value="environment_monitoring">
                              Monitoreo Ambiental
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type"  style="opacity: 1;" id="option3" value="spirit_uses" >
                              Usos espirituales
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type" style="opacity: 1;" id="option4" value="educational" >
                              Educación
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type" style="opacity: 1;" id="option5" value="recreation" >
                              Recreación
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type" style="opacity: 1;" id="option6" value="turism" >
                              Turismo
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="use_type" style="opacity: 1;" id="option7" value="sustainable_uses" >
                              Usos sostenibles
                            </label>
                        </div>
                        {% if field_errors.use_type %}
                        <small class="help-block">{{ field_errors.use_type.message }}</small>
                        {% endif %}
                    </div>                    
                </div>
                               
                <div class="form-group {{ 'has-error' if field_errors.location else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Ubicación</label>
                        <input type="text" class="form-control input-sm" name="location" value="{{ field_errors.location.value if field_errors.location else object.location }}">
                    </div>
                    {% if field_errors.location %}
                    <small class="help-block">{{ field_errors.location.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.entity else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Entidad*</label>
                        <input type="text" class="form-control input-sm" name="entity" value="{{ field_errors.entity.value if field_errors.entity else object.entity }}">
                    </div>
                    {% if field_errors.entity %}
                    <small class="help-block">{{ field_errors.entity.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.acquisition_type else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Tipo de adquisición*</label>
                        <input type="text" class="form-control input-sm" name="acquisition_type" value="{{ field_errors.acquisition_type.value if field_errors.acquisition_type else object.acquisition_type }}">
                    </div>
                    {% if field_errors.acquisition_type %}
                    <small class="help-block">{{ field_errors.acquisition_type.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.year_acquisition else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Año de adquisición*</label>
                        <input type="number" step="1" class="form-control input-sm" name="year_acquisition" value="{{ field_errors.year_acquisition.value if field_errors.year_acquisition else object.year_acquisition }}">
                    </div>
                    {% if field_errors.year_acquisition %}
                    <small class="help-block">{{ field_errors.year_acquisition.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <div class="fg-line">
                        <label class="control-label">Año de establecimiento</label>
                        <input type="number" step="1" class="form-control input-sm" name="year_estab">
                    </div>
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.ownership else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Propiedad*</label>
                        <input type="text" class="form-control input-sm" name="ownership" value="{{ field_errors.ownership.value if field_errors.ownership else object.ownership }}">
                    </div>
                    {% if field_errors.ownership %}
                    <small class="help-block">{{ field_errors.ownership.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.status else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Estado*</label>
                        <div class="select">
                            <select name="status" class="form-control ">
                                <option value="">--------</option>
                                <option {% if object.status == 'new' %}selected{% endif %} value="new">New</option>
                                <option {% if object.status == 'denied' %}selected{% endif %} value="denied">Denied</option>
                                <option {% if object.status == 'approved' %}selected{% endif %} value="approved">Approved</option>
                            </select>
                        </div>
                    </div>
                    {% if field_errors.status %}
                    <small class="help-block">{{ field_errors.status.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.reason_conservation else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Motivo de conservación*</label>
                        <textarea class="form-control" rows="5" name="reason_conservation">{{ field_errors.reason_conservation.value if field_errors.reason_conservation else object.reason_conservation }}</textarea>
                    </div>
                    {% if field_errors.reason_conservation %}
                    <small class="help-block">{{ field_errors.reason_conservation.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.notes else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Notas</label>
                        <textarea class="form-control" rows="5" name="notes">{{ field_errors.notes.value if field_errors.notes else object.notes }}</textarea>
                    </div>
                    {% if field_errors.notes %}
                    <small class="help-block">{{ field_errors.notes.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">GUARDAR</button>
                    <a href="/admin/land" class="btn btn-default">CANCELAR</a>
                </div>
            </form>
        </div>
    </div>    
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body card-padding">
        <div class="form-group">
          <img src="https://dummyimage.com/600x400/cccccc/000000" class="img-responsive" />
        </div>
        <div class="text-center"><a href="https://dummyimage.com/600x400/cccccc/000000" target="_blank">View Map</a></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function disableother(){
        if(document[])
    }
</script>
    
{% endblock %}