{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="block-header">
      <h2>Terrenos<small>{{ object.name }}</small></h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group text-right">
        <a href="/admin/land" class="btn btn-default">VOLVER ATRÁS</a>
    </div>
  </div>
</div>

<div class="form-group">
    <div class="v4-row">
      <div class="v4-col-md-8">
        <div id="map" class="land-map"></div>
        {% if field_errors.geom %}
        <small class="help-block">{{ field_errors.geom.message }}</small>
        {% endif %}
      </div>
      <div class="v4-col-md-4">
        <div class="card m-b-0">
          <div class="card-body card-padding">
            <div class="form-group">
                <img src={%if object.photographURL%}{{object.photographURL}} {% else %} "https://dummyimage.com/600x400/cccccc/000000" {% endif %} class="img-responsive" />
            </div>
            <p class="text-center">
              <a href="https://mapa-33.com/land/{{ object.slug }}" target="_blank">Ver Tarjeta Pública <i class="zmdi zmdi-open-in-new"></i></a>
            </p>
            <div class="form-group {{ 'has-error' if field_errors.photograph else '' }}" >
                <div class="fg-line">
                    <label class="control-label">Foto</label>
                    <input type="file" id="input-file-now" class="form-control input-sm" name="photograph"/>
                </div>
                {% if field_errors.photograph %}
                <small class="help-block">{{ field_errors.photograph.message }}</small>
                {% endif %}
            </div>
            <div class="pmo-contact">
                <ul>
                  <li>
                    <i class="zmdi zmdi-account"></i> {{ object.user.full_name }}
                  </li>
                  <li>
                    <i class="zmdi zmdi-email"></i> <a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-8">
    <form id="user-form" method="POST" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="geom" />
        <input type="hidden" name="coordinates" />
        <div class="card">
            <div class="card-header">
                <h2>Detalles
                    <small>(*) Datos requeridos.</small>
                </h2>
            </div>
            <div class="card-body card-padding">

                <div class="form-group {{ 'has-error' if field_errors.name else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Nombre*</label>
                        <input type="text" class="form-control input-sm" name="name" value="{{ field_errors.name.value if field_errors.name else object.name }}">
                    </div>
                    <small class="help-block text-muted">Slug: {{ object.slug }}</small>
                    {% if field_errors.name %}
                    <small class="help-block">{{ field_errors.name.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.level else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Nivel</label>
                        <div class="select">
                            <select name="level" class="form-control">
                                <option value="">--------</option>
                                {% for item in levels %}
                                <option {% if object.level == item.value %}selected{% endif %} value="{{ item.value }}">{{ item.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if field_errors.level %}
                    <small class="help-block">{{ field_errors.level.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.status else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Estado</label>
                        <div class="select">
                            <select name="status" class="form-control ">
                                <option value="">--------</option>
                                {% for item in status %}
                                <option {% if object.status == item.value %}selected{% endif %} value="{{ item.value }}">{{ item.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if field_errors.status %}
                    <small class="help-block">{{ field_errors.status.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.plots_count else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Número de parcelas</label>
                        <input type="number" class="form-control input-sm" name="plots_count" value="{{ field_errors.plots_count.value if field_errors.plots_count else object.plots_count }}">
                    </div>
                    {% if field_errors.plots_count %}
                    <small class="help-block">{{ field_errors.plots_count.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.area_size else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Tamaño del área</label>
                        <input type="number" step="1" min="0" class="form-control input-sm" name="area_size" value="{{ object.area_size | int }}">
                    </div>
                    {% if field_errors.area_size %}
                    <small class="help-block">{{ field_errors.area_size.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.location else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Ubicación</label>
                        <input type="text" class="form-control input-sm" name="location" value="{{ field_errors.location.value if field_errors.location else object.location }}">
                    </div>
                    {% if field_errors.location %}
                    <small class="help-block">{{ field_errors.location.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.ownership else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Propiedad</label>
                        
                        <input type="text" class="form-control input-sm" name="ownership" value="{{ field_errors.ownership if field_errors.ownership else object.ownership }}">
                    </div>
                    {% if field_errors.ownership %}
                    <small class="help-block">{{ field_errors.ownership.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.importance_of_protection else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Por qué es importante proteger este terreno?</label>
                        <textarea class="form-control" rows="5" name="importance_of_protection">{{ field_errors.importance_of_protection.value if field_errors.importance_of_protection else object.metadata.importance_of_protection }}</textarea>
                    </div>
                    {% if field_errors.importance_of_protection %}
                    <small class="help-block">{{ field_errors.importance_of_protection.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.reason_conservation else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Por qué se debe proteger este terreno?</label>
                        {% for item in protection_reasons %}
                        <div class="radio">
                            <label>
                              <input type="radio" name="reason_conservation" style="opacity: 1;" value="{{ item.value }}" {% if object.reason_conservation == item.value %}checked{% endif %} >
                              {{ item.label }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    {% if field_errors.reason_conservation %}
                    <small class="help-block">{{ field_errors.reason_conservation.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.are_u_owner else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Es Dueño?</label>
                        <div class="radio">
                            <label>
                              <input type="radio" name="are_u_owner" style="opacity: 1;" value="true" {% if object.metadata.are_u_owner == true %}checked{% endif %} >
                              SI
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="are_u_owner" style="opacity: 1;" value="false" {% if object.metadata.are_u_owner == false %}checked{% endif %}>
                              NO
                            </label>
                        </div>
                        {% if field_errors.are_u_owner %}
                        <small class="help-block">{{ field_errors.are_u_owner.message }}</small>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.know_owner else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Conoce al dueño</label>
                        <div class="radio">
                            <label>
                              <input type="radio" name="know_owner" style="opacity: 1;" value="true" {% if object.metadata.know_owner == true %}checked{% endif %} >
                              SI
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="know_owner" style="opacity: 1;" value="false" {% if object.metadata.know_owner == false %}checked{% endif %} >
                              NO
                            </label>
                        </div>
                        {% if field_errors.know_owner %}
                        <small class="help-block">{{ field_errors.know_owner.message }}</small>
                        {% endif %}
                    </div>
                </div>
                                
                <div class="form-group {{ 'has-error' if field_errors.catastro_numbers else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Números de Catastro</label>
                        <textarea class="form-control" rows="5" name="catastro_numbers">{% for item in object.metadata.catastro_numbers %}{{ item }}{% endfor %}</textarea>
                    </div>
                    {% if field_errors.catastro_numbers %}
                    <small class="help-block">{{ field_errors.catastro_numbers.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.owner_name else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Nombre de Propietario</label>
                        <input type="text" class="form-control input-sm" name="owner_name" value="{{ field_errors.metadata.owner_name if field_errors.metadata.owner_name else object.metadata.owner_name }}">
                    </div>
                    {% if field_errors.owner_name %}
                    <small class="help-block">{{ field_errors.owner_name.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.owner_email else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Correo Electrónico de dueño</label>
                        <input type="email" class="form-control input-sm" name="owner_email" value="{{ field_errors.metadata.owner_email.value if field_errors.metadata.owner_email else object.metadata.owner_email }}">
                    </div>
                    {% if field_errors.owner_email %}
                    <small class="help-block">{{ field_errors.owner_email.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.owner_phone else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Telefono de dueño</label>
                        <input type="text" class="form-control input-sm" name="owner_phone" value="{{ field_errors.metadata.owner_phone.value if field_errors.metadata.owner_phone else object.metadata.owner_phone }}">
                    </div>
                    {% if field_errors.owner_phone %}
                    <small class="help-block">{{ field_errors.owner_phone.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.main_uses else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Cuáles son los usos principales actuales de la propiedad?</label>
                        {% for item in main_uses %}
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" name="main_uses" value="{{ item.value }}" style="opacity: 1;" {% for main_uses in object.main_uses %}{% if main_uses == item.value %}checked{% endif %}{% endfor %}> {{ item.label }}
                            </label>
                        </div>
                        {% endfor %}
                        <input type="text" class="form-control input-sm" name="other_main_uses" value="{{ field_errors.other_main_uses.value if field_errors.other_main_uses else object.other_main_uses }}">
                    </div>    
                    {% if field_errors.other_main_uses %}
                    <small class="help-block">{{ field_errors.other_main_uses.message }}</small>
                    {% endif %}
                    {% if field_errors.main_uses %}
                    <small class="help-block">{{ field_errors.main_uses.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.lands_structures else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Qué tipo de infraestructura hay en el terreno?</label>
                        {% for item in structures %}
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" name="lands_structures" value="{{ item.value }}" style="opacity: 1;" {% for lands_structures in object.metadata.lands_structures %}{% if lands_structures == item.value %}checked{% endif %}{% endfor %}> {{ item.label }}
                            </label>
                        </div>
                        {% endfor %}
                        <input type="text" class="form-control input-sm" name="lands_other_structures" value="{{ field_errors.metadata.lands_other_structures.value if field_errors.metadata.lands_other_structures else object.metadata.lands_other_structures }}">
                    </div>    
                    {% if field_errors.lands_other_structures %}
                    <small class="help-block">{{ field_errors.lands_other_structures.message }}</small>
                    {% endif %}
                    {% if field_errors.lands_structures %}
                    <small class="help-block">{{ field_errors.lands_structures.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.has_already_proposed_uses else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Hay algún uso ya propuesto para este terreno?</label>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_already_proposed_uses" style="opacity: 1;" value="yes" {% if object.metadata.has_already_proposed_uses == "yes" %}checked{% endif %} >
                              Sí
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_already_proposed_uses" style="opacity: 1;" value="no" {% if object.metadata.has_already_proposed_uses == "no" %}checked{% endif %} >
                              No
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_already_proposed_uses" style="opacity: 1;" value="unknown" {% if object.metadata.has_already_proposed_uses == "unknown" %}checked{% endif %} >
                              No sé
                            </label>
                        </div>
                        {% if field_errors.has_already_proposed_uses %}
                        <small class="help-block">{{ field_errors.has_already_proposed_uses.message }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {{ 'has-error' if field_errors.proposed_uses_description else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Tipo de uso propuesto</label>
                        <textarea class="form-control" rows="2" name="proposed_uses_description">{{ object.metadata.proposed_uses_description }}</textarea>
                    </div>
                    {% if field_errors.proposed_uses_description %}
                    <small class="help-block">{{ field_errors.proposed_uses_description.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.main_attributes else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Cuáles de los siguientes atributos identificas en el terreno?</label>
                        {% for item in attributes %}
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"  name="main_attributes" value="{{ item.value }}" style="opacity: 1;" {% for main_attributes in object.main_attributes %}{% if main_attributes == item.value %}checked{% endif %}{% endfor %}> {{ item.label }}
                            </label>
                        </div>
                        {% endfor %}
                        <input type="text" class="form-control input-sm" name="other_main_attributes" value="{{ object.other_main_attributes }}">
                    </div>    
                    {% if field_errors.other_main_attributes %}
                    <small class="help-block">{{ field_errors.other_main_attributes.message }}</small>
                    {% endif %}
                    {% if field_errors.main_attributes %}
                    <small class="help-block">{{ field_errors.main_attributes.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.has_contamination else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿El terreno ha tenido problemas de contaminación? Por ejemplo: vertedero clandestino, derrames químicos, aguas negras u otros.</label>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_contamination" style="opacity: 1;" value="yes" {% if object.metadata.has_contamination == "yes" %}checked{% endif %} >
                              Sí
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_contamination" style="opacity: 1;" value="no" {% if object.metadata.has_contamination == "no" %}checked{% endif %} >
                              No
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_contamination" style="opacity: 1;" value="unknown" {% if object.metadata.has_contamination == "unknown" %}checked{% endif %} >
                              No sé
                            </label>
                        </div>
                        {% if field_errors.has_contamination %}
                        <small class="help-block">{{ field_errors.has_contamination.message }}</small>
                        {% endif %}
                    </div>
                </div> 

                <div class="form-group {{ 'has-error' if field_errors.contamination_description else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Tipo de contaminación</label>
                        <textarea class="form-control" rows="2" name="contamination_description">{{ object.metadata.contamination_description }}</textarea>
                    </div>
                    {% if field_errors.contamination_description %}
                    <small class="help-block">{{ field_errors.contamination_description.message }}</small>
                    {% endif %}
                </div>

                <div class="form-group {{ 'has-error' if field_errors.has_controversies else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Existen controversias de herencia, titularidad, registro de propiedad o de alguna otra índole legal?</label>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_controversies" style="opacity: 1;" value="yes" {% if object.metadata.has_controversies == "yes" %}checked{% endif %} >
                              Sí
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_controversies" style="opacity: 1;" value="no" {% if object.metadata.has_controversies == "no" %}checked{% endif %} >
                              No
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="has_controversies" style="opacity: 1;" value="unknown" {% if object.metadata.has_controversies == "unknown" %}checked{% endif %} >
                              No sé
                            </label>
                        </div>
                        {% if field_errors.has_controversies %}
                        <small class="help-block">{{ field_errors.has_controversies.message }}</small>
                        {% endif %}
                    </div>
                </div> 

                <div class="form-group {{ 'has-error' if field_errors.controversies_description else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Explica las controversias</label>
                        <textarea class="form-control" rows="2" name="controversies_description">{{ object.metadata.controversies_description }}</textarea>
                    </div>
                    {% if field_errors.controversies_description %}
                    <small class="help-block">{{ field_errors.controversies_description.message }}</small>
                    {% endif %}
                </div>
                
                <div class="form-group {{ 'has-error' if field_errors.proposed_uses else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Cuáles usos propones para el terreno?</label>
                        {% for item in proposed_uses %}
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"  name="proposed_uses" value="{{ item.value }}" style="opacity: 1;" {% for proposed_uses in object.proposed_uses %}{% if proposed_uses == item.value %}checked{% endif %}{% endfor %}> {{ item.label }}
                            </label>
                        </div>
                        {% endfor %}
                        {% if field_errors.proposed_uses %}
                        <small class="help-block">{{ field_errors.proposed_uses.message }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {{ 'has-error' if field_errors.activity_to_protect_this_land else '' }}">
                    <div class="fg-line">
                        <label class="control-label">¿Qué se ha hecho o se está haciendo para proteger este espacio?</label>
                        <textarea class="form-control" rows="2" name="activity_to_protect_this_land">{{ object.metadata.activity_to_protect_this_land }}</textarea>
                    </div>
                    {% if field_errors.activity_to_protect_this_land %}
                    <small class="help-block">{{ field_errors.activity_to_protect_this_land.message }}</small>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-float btn-primary m-btn waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Guardar">
                  <i class="zmdi zmdi-save"></i>
                </button>
            </div>
        </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h2>Redes Sociales</h2>
        </div>
        <div class="card-body card-padding">
            <div class="form-group">
                <img src="{{object.socialPhotographURL}}" class="img-responsive" />
            </div>
            <div class="text-center">
                <form action="/admin/land/{{ object.id }}/shared-photo/generate" method="POST">
                    <input type="hidden" name="crumb" value="{{crumb}}"/>
                    <button class="btn btn-primary btn-link">
                        <i class="zmdi zmdi-refresh"></i>
                        Regenerar
                    </button>
                </form>
            </div>

        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
  $(document).ready(function () {
    var landsProblem = $('input[name=lands_problem][value=others]');
    var landsOtherProblem = $('input[name=lands_other_problem]');
    var mainUses = $('input[name=main_uses][value=others]');
    var otherMainUses = $('input[name=other_main_uses]');
    var landsStructures = $('input[name=lands_structures][value=others]');
    var otherLandsStructures = $('input[name=lands_other_structures]');
    var mainAttributes = $('input[name=main_attributes][value=others]');
    var otherMainAttributes = $('input[name=other_main_attributes]');

    function toggleLandsOtherProblem() {
      if (landsProblem.prop('checked')) {
        landsOtherProblem.show();
      } else {
        landsOtherProblem.hide();
      }
    }

    function toggleOtherMainUses() {
      if (mainUses.prop('checked')) {
        otherMainUses.show();
      } else {
        otherMainUses.hide();
      }
    }

    function toggleOtherLandsStructures() {
      if (landsStructures.prop('checked')) {
        otherLandsStructures.show();
      } else {
        otherLandsStructures.hide();
      }
    }

    function toggleOtherMainAttributes() {
      if (mainAttributes.prop('checked')) {
        otherMainAttributes.show();
      } else {
        otherMainAttributes.hide();
      }
    }

    landsProblem.change(toggleLandsOtherProblem).ready(toggleLandsOtherProblem);
    mainUses.change(toggleOtherMainUses).ready(toggleOtherMainUses);
    landsStructures.change(toggleOtherLandsStructures).ready(toggleOtherLandsStructures);
    mainAttributes.change(toggleOtherMainAttributes).ready(toggleOtherMainAttributes);
  });
</script>
{% if object.id %}
<script type="text/javascript">
    var LAND_CENTER = JSON.parse('{{ object.coordinates.coordinates | dump | safe }}');
    var LAND_GEOM = JSON.parse('{{ object.geom | dump | safe }}');
    var LAND_ID = '{{ object.id }}'
</script>
<script type="text/javascript" src="/assets/admin/js/lands/map-editor.js"></script>
{% else %}
<script type="text/javascript" src="/assets/admin/js/lands/map-creator.js"></script>
{% endif %}

{% endblock %}
