{% extends 'base.html' %}

{% block content %}
<div class="block-header">
    <h2>Land <small>{{ object.name }}</small></h2>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h2>Details
                <small>(*) Required fields.</small>
            </h2>
        </div>
        <div class="card-body card-padding">
            <form id="user-form" method="POST" autocomplete="off">
                <input type="hidden" name="crumb" value="{{crumb}}"/>

                <div class="form-group {{ 'has-error' if field_errors.name else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Name*</label>
                        <input type="text" class="form-control input-sm" name="name" value="{{ field_errors.name.value if field_errors.name else object.name }}">
                    </div>
                    {% if field_errors.name %}
                    <small class="help-block">{{ field_errors.name.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.level else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Level*</label>
                        <div class="select">
                            <select name="level" class="form-control">
                                <option value="">--------</option>
                                <option {% if object.level == 'basic' %}selected{% endif %} value="basic">Basic</option>
                                <option {% if object.level == 'pledge' %}selected{% endif %} value="pledge">Pledge</option>
                                <option {% if object.level == 'conserved' %}selected{% endif %} value="conserved">Conserved</option>
                            </select>
                        </div>
                    </div>
                    {% if field_errors.level %}
                    <small class="help-block">{{ field_errors.level.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.location else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Location</label>
                        <input type="text" class="form-control input-sm" name="location" value="{{ field_errors.location.value if field_errors.location else object.location }}">
                    </div>
                    {% if field_errors.location %}
                    <small class="help-block">{{ field_errors.location.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.entity else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Entity*</label>
                        <input type="text" class="form-control input-sm" name="entity" value="{{ field_errors.entity.value if field_errors.entity else object.entity }}">
                    </div>
                    {% if field_errors.entity %}
                    <small class="help-block">{{ field_errors.entity.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.use_type else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Use Type*</label>
                        <input type="text" class="form-control input-sm" name="use_type" value="{{ field_errors.use_type.value if field_errors.use_type else object.use_type }}">
                    </div>
                    {% if field_errors.use_type %}
                    <small class="help-block">{{ field_errors.use_type.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.acquisition_type else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Acquisition Type*</label>
                        <input type="text" class="form-control input-sm" name="acquisition_type" value="{{ field_errors.acquisition_type.value if field_errors.acquisition_type else object.acquisition_type }}">
                    </div>
                    {% if field_errors.acquisition_type %}
                    <small class="help-block">{{ field_errors.acquisition_type.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.year_acquisition else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Year Acquisition*</label>
                        <input type="number" step="1" class="form-control input-sm" name="year_acquisition" value="{{ field_errors.year_acquisition.value if field_errors.year_acquisition else object.year_acquisition }}">
                    </div>
                    {% if field_errors.year_acquisition %}
                    <small class="help-block">{{ field_errors.year_acquisition.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.status else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Status*</label>
                        <div class="select">
                            <select name="status" class="form-control ">
                                <option value="">--------</option>
                                <option {% if object.status == 'new' %}selected{% endif %} value="new">New</option>
                                <option {% if object.status == 'denied' %}selected{% endif %} value="denied">Denied</option>
                                <option {% if object.status == 'approved' %}selected{% endif %} value="approved">Approved</option>
                            </select>
                        </div>
                    </div>
                    {% if field_errors.status %}
                    <small class="help-block">{{ field_errors.status.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group {{ 'has-error' if field_errors.reason_conservation else '' }}">
                    <div class="fg-line">
                        <label class="control-label">Reason Conservation*</label>
                        <textarea class="form-control" rows="5" name="reason_conservation">{{ field_errors.reason_conservation.value if field_errors.reason_conservation else object.reason_conservation }}</textarea>
                    </div>
                    {% if field_errors.reason_conservation %}
                    <small class="help-block">{{ field_errors.reason_conservation.message }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">GUARDAR</button>
                    <a href="/admin/land" class="btn btn-default">CANCELAR</a>
                </div>
            </form>
        </div>
    </div>    
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body card-padding">
        <div class="form-group">
          <img src="https://dummyimage.com/600x400/cccccc/000000" class="img-responsive" />
        </div>
        <div class="text-center"><a href="https://dummyimage.com/600x400/cccccc/000000" target="_blank">View Map</a></div>
      </div>
    </div>
  </div>
</div>

    
{% endblock %}